:root {
    --background-page: url(../img/fondo.jpg);
    --font-size: 1.6rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: var(--background-page);
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
   
}
.logo {
    border-radius: 15rem;
    height: 30vh;
    width: 60%;
    height: auto;
}

ul li {
    list-style: none;
    display: inline-block;
}
ul li i {
    font-size: 4rem;
}

main {
    width: 100vw;
    height: 50vh;
    display: flex;
}

.left-box {
    width: 50%;
    height: 75vh;

}
.right-box {
    width: 50%;
    height: 75vh;
   
}