:root {
    --background-page: url(../img/fondo.jpg);
    --font-size: 1.6rem;
    --header: 15vh;
    --header-background: rgba(72, 22, 14, 0.89);
    --main: 85vh;
    --main-background: rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: var(--background-page);
}

header {
    background-color: var(--header-background);
    height: 20vh;
    display: flex;
    justify-content: center;
}

.logo {
    border-radius: 15rem;
    height: 17rem;
    margin-top: 1rem;
}

main {
    background-color: var(--main-background);
    height: 80vh;
}

.container {
    display: flex;
}
.left-box {
    width: 50vw;
}
ul li a i{
    color: black;
    font-size: 2rem;
}
.right-box {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.right-box p {
    font-size: 1.6rem;
}

.right-box {
    margin-top: 5rem;
}

.right-box iframe {
    width: 30vw;
    height: 60vh;
}

a {
    text-decoration: none;
    color: white;
}

